# Virtual environments
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
dist/
build/
*.egg-info/

# Ignore .ipynb_checkpoints from version control
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore .idea folder from version control
.idea/
*/.idea/*

# Ignore Dataset Image Files
# dataset/**/*.jpg
# dataset/**/*.png
# dataset/**/*.jpeg
# dataset/**/**/*.jpg

# Ignore CCPD2019 Dataset Image Files
dataset/CCPD2019/train/images
dataset/CCPD2019/test/images
dataset/CCPD2019/val/images

dataset/CCPD2020/ccpd_green/train/images
dataset/CCPD2020/ccpd_green/test/images
dataset/CCPD2020/ccpd_green/val/images

# Ignore image files
/extracted_images
